* {
    background-image: url('../images/scaledbackground.jpg');
    align-content: center;
    text-align: center;
    font-family: 'Lobster', cursive;
    color: darkgoldenrod;
}

.header {
    font-size: 1.5em;
}

.startButton {
    background-image: url('../images/dealButton.png');
    border: 2px solid darkgoldenrod;
    height: 75px;
    width: 104px;
    margin: 30px;
}

.refreshButton {
    background-image: url('../images/refreshIMG.png');
    border: 2px solid darkgoldenrod;
    height: 75px;
    width: 104px;
    margin: 30px;
}

.timerContainer {
    font-size: 1.75em;
}


div.container {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    grid-template-rows: repeat(4, 2fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.cardBack {
    background-image: url('../images/card10.png');
}

.playerScore {
    font-size: 1.75em;
}