* {
    background-image: url('../images/scaledbackground.jpg');
    align-content: center;
    text-align: center;
}

.header {
    font-family: 'Lobster', cursive;
    color: darkgoldenrod;
    font-size: 1.5em;
}

.startButton {
    background-image: url('../images/dealButton.png');
    width: 100px;
    height: 72px;
    border: 1px solid black;
    margin: 30px;
}

div.container {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    grid-template-rows: repeat(4, 2fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.cardBack {
    background-image: url('../images/card10.png');
}